<link rel="stylesheet" href="/bahmni_config/openmrs/apps/registration/registrationCardLayout/css/print.css"/>
<div class="subpage">
    <ul>
        <li>
            <p class="localname"><strong>{{patient.givenName}}&nbsp;{{patient.middleName}}&nbsp;{{patient.familyName}}</strong></p>
            <p>No de dossier:{{patient.primaryIdentifier.identifier}}&nbsp;{{}}</p>
            <p ng-if="patient.age.years>0">{{patient.age.years}}&nbsp;ans&nbsp;/{{patient.gender}}</p>
            <p ng-if="patient.age.years==0">{{patient.age.months}}&nbsp;mois&nbsp;/{{patient.gender}}</p>
            <p>Date d'admission:{{patient.registrationDate | date: 'dd/MM/yyyy'}}</p>

        </li>
        <li>
            <p class="localname"><strong>{{patient.givenName}}&nbsp;{{patient.middleName}}&nbsp;{{patient.familyName}}</strong></p>
            <p>No de dossier:{{patient.primaryIdentifier.identifier}}&nbsp;{{}}</p>
            <p ng-if="patient.age.years>0">{{patient.age.years}}&nbsp;ans&nbsp;/{{patient.gender}}</p>
            <p ng-if="patient.age.years==0">{{patient.age.months}}&nbsp;mois&nbsp;/{{patient.gender}}</p>
            <p>Date d'admission:{{patient.registrationDate | date: 'dd/MM/yyyy'}}</p>

        </li>
        <li>
            <p class="localname"><strong>{{patient.givenName}}&nbsp;{{patient.middleName}}&nbsp;{{patient.familyName}}</strong></p>
            <p>No de dossier:{{patient.primaryIdentifier.identifier}}&nbsp;{{}}</p>
            <p ng-if="patient.age.years>0">{{patient.age.years}}&nbsp;ans&nbsp;/{{patient.gender}}</p>
            <p ng-if="patient.age.years==0">{{patient.age.months}}&nbsp;mois&nbsp;/{{patient.gender}}</p>
            <p>Date d'admission:{{patient.registrationDate | date: 'dd/MM/yyyy'}}</p>

        </li>
        <li>
            <p class="localname"><strong>{{patient.givenName}}&nbsp;{{patient.middleName}}&nbsp;{{patient.familyName}}</strong></p>
            <p>No de dossier:{{patient.primaryIdentifier.identifier}}&nbsp;{{}}</p>
            <p ng-if="patient.age.years>0">{{patient.age.years}}&nbsp;ans&nbsp;/{{patient.gender}}</p>
            <p ng-if="patient.age.years==0">{{patient.age.months}}&nbsp;mois&nbsp;/{{patient.gender}}</p>
            <p>Date d'admission:{{patient.registrationDate | date: 'dd/MM/yyyy'}}</p>

        </li>
        <li>
            <p class="localname"><strong>{{patient.givenName}}&nbsp;{{patient.middleName}}&nbsp;{{patient.familyName}}</strong></p>
            <p>No de dossier:{{patient.primaryIdentifier.identifier}}&nbsp;{{}}</p>
            <p ng-if="patient.age.years>0">{{patient.age.years}}&nbsp;ans&nbsp;/{{patient.gender}}</p>
            <p ng-if="patient.age.years==0">{{patient.age.months}}&nbsp;mois&nbsp;/{{patient.gender}}</p>
            <p>Date d'admission:{{patient.registrationDate | date: 'dd/MM/yyyy'}}</p>

        </li>
        <li>
            <p class="localname"><strong>{{patient.givenName}}&nbsp;{{patient.middleName}}&nbsp;{{patient.familyName}}</strong></p>
            <p>No de dossier:{{patient.primaryIdentifier.identifier}}&nbsp;{{}}</p>
            <p ng-if="patient.age.years>0">{{patient.age.years}}&nbsp;ans&nbsp;/{{patient.gender}}</p>
            <p ng-if="patient.age.years==0">{{patient.age.months}}&nbsp;mois&nbsp;/{{patient.gender}}</p>
            <p>Date d'admission:{{patient.registrationDate | date: 'dd/MM/yyyy'}}</p>

        </li>
        <li>
            <p class="localname"><strong>{{patient.givenName}}&nbsp;{{patient.middleName}}&nbsp;{{patient.familyName}}</strong></p>
            <p>No de dossier:{{patient.primaryIdentifier.identifier}}&nbsp;{{}}</p>
            <p ng-if="patient.age.years>0">{{patient.age.years}}&nbsp;ans&nbsp;/{{patient.gender}}</p>
            <p ng-if="patient.age.years==0">{{patient.age.months}}&nbsp;mois&nbsp;/{{patient.gender}}</p>
            <p>Date d'admission:{{patient.registrationDate | date: 'dd/MM/yyyy'}}</p>

        </li>
        <li>
            <p class="localname"><strong>{{patient.givenName}}&nbsp;{{patient.middleName}}&nbsp;{{patient.familyName}}</strong></p>
            <p>No de dossier:{{patient.primaryIdentifier.identifier}}&nbsp;{{}}</p>
            <p ng-if="patient.age.years>0">{{patient.age.years}}&nbsp;ans&nbsp;/{{patient.gender}}</p>
            <p ng-if="patient.age.years==0">{{patient.age.months}}&nbsp;mois&nbsp;/{{patient.gender}}</p>
            <p>Date d'admission:{{patient.registrationDate | date: 'dd/MM/yyyy'}}</p>

        </li>
        <li>
            <p class="localname"><strong>{{patient.givenName}}&nbsp;{{patient.middleName}}&nbsp;{{patient.familyName}}</strong></p>
            <p>No de dossier:{{patient.primaryIdentifier.identifier}}&nbsp;{{}}</p>
            <p ng-if="patient.age.years>0">{{patient.age.years}}&nbsp;ans&nbsp;/{{patient.gender}}</p>
            <p ng-if="patient.age.years==0">{{patient.age.months}}&nbsp;mois&nbsp;/{{patient.gender}}</p>
            <p>Date d'admission:{{patient.registrationDate | date: 'dd/MM/yyyy'}}</p>

        </li>
        <li>
            <p class="localname"><strong>{{patient.givenName}}&nbsp;{{patient.middleName}}&nbsp;{{patient.familyName}}</strong></p>
            <p>No de dossier:{{patient.primaryIdentifier.identifier}}&nbsp;{{}}</p>
            <p ng-if="patient.age.years>0">{{patient.age.years}}&nbsp;ans&nbsp;/{{patient.gender}}</p>
            <p ng-if="patient.age.years==0">{{patient.age.months}}&nbsp;mois&nbsp;/{{patient.gender}}</p>
            <p>Date d'admission:{{patient.registrationDate | date: 'dd/MM/yyyy'}}</p>

        </li>
        <li>
            <p class="localname"><strong>{{patient.givenName}}&nbsp;{{patient.middleName}}&nbsp;{{patient.familyName}}</strong></p>
            <p>No de dossier:{{patient.primaryIdentifier.identifier}}&nbsp;{{}}</p>
            <p ng-if="patient.age.years>0">{{patient.age.years}}&nbsp;ans&nbsp;/{{patient.gender}}</p>
            <p ng-if="patient.age.years==0">{{patient.age.months}}&nbsp;mois&nbsp;/{{patient.gender}}</p>
            <p>Date d'admission:{{patient.registrationDate | date: 'dd/MM/yyyy'}}</p>

        </li>
        <li>
            <p class="localname"><strong>{{patient.givenName}}&nbsp;{{patient.middleName}}&nbsp;{{patient.familyName}}</strong></p>
            <p>No de dossier:{{patient.primaryIdentifier.identifier}}&nbsp;{{}}</p>
            <p ng-if="patient.age.years>0">{{patient.age.years}}&nbsp;ans&nbsp;/{{patient.gender}}</p>
            <p ng-if="patient.age.years==0">{{patient.age.months}}&nbsp;mois&nbsp;/{{patient.gender}}</p>
            <p>Date d'admission:{{patient.registrationDate | date: 'dd/MM/yyyy'}}</p>

        </li>
        <li>
            <p class="localname"><strong>{{patient.givenName}}&nbsp;{{patient.middleName}}&nbsp;{{patient.familyName}}</strong></p>
            <p>No de dossier:{{patient.primaryIdentifier.identifier}}&nbsp;{{}}</p>
            <p ng-if="patient.age.years>0">{{patient.age.years}}&nbsp;ans&nbsp;/{{patient.gender}}</p>
            <p ng-if="patient.age.years==0">{{patient.age.months}}&nbsp;mois&nbsp;/{{patient.gender}}</p>
            <p>Date d'admission:{{patient.registrationDate | date: 'dd/MM/yyyy'}}</p>

        </li>
        <li>
            <p class="localname"><strong>{{patient.givenName}}&nbsp;{{patient.middleName}}&nbsp;{{patient.familyName}}</strong></p>
            <p>No de dossier:{{patient.primaryIdentifier.identifier}}&nbsp;{{}}</p>
            <p ng-if="patient.age.years>0">{{patient.age.years}}&nbsp;ans&nbsp;/{{patient.gender}}</p>
            <p ng-if="patient.age.years==0">{{patient.age.months}}&nbsp;mois&nbsp;/{{patient.gender}}</p>
            <p>Date d'admission:{{patient.registrationDate | date: 'dd/MM/yyyy'}}</p>

        </li>
        <li>
            <p class="localname"><strong>{{patient.givenName}}&nbsp;{{patient.middleName}}&nbsp;{{patient.familyName}}</strong></p>
            <p>No de dossier:{{patient.primaryIdentifier.identifier}}&nbsp;{{}}</p>
            <p ng-if="patient.age.years>0">{{patient.age.years}}&nbsp;ans&nbsp;/{{patient.gender}}</p>
            <p ng-if="patient.age.years==0">{{patient.age.months}}&nbsp;mois&nbsp;/{{patient.gender}}</p>
            <p>Date d'admission:{{patient.registrationDate | date: 'dd/MM/yyyy'}}</p>

        </li>
        <li>
            <p class="localname"><strong>{{patient.givenName}}&nbsp;{{patient.middleName}}&nbsp;{{patient.familyName}}</strong></p>
            <p>No de dossier:{{patient.primaryIdentifier.identifier}}&nbsp;{{}}</p>
            <p ng-if="patient.age.years>0">{{patient.age.years}}&nbsp;ans&nbsp;/{{patient.gender}}</p>
            <p ng-if="patient.age.years==0">{{patient.age.months}}&nbsp;mois&nbsp;/{{patient.gender}}</p>
            <p>Date d'admission:{{patient.registrationDate | date: 'dd/MM/yyyy'}}</p>

        </li>
        <li>
            <p class="localname"><strong>{{patient.givenName}}&nbsp;{{patient.middleName}}&nbsp;{{patient.familyName}}</strong></p>
            <p>No de dossier:{{patient.primaryIdentifier.identifier}}&nbsp;{{}}</p>
            <p ng-if="patient.age.years>0">{{patient.age.years}}&nbsp;ans&nbsp;/{{patient.gender}}</p>
            <p ng-if="patient.age.years==0">{{patient.age.months}}&nbsp;mois&nbsp;/{{patient.gender}}</p>
            <p>Date d'admission:{{patient.registrationDate | date: 'dd/MM/yyyy'}}</p>

        </li>
        <li>
            <p class="localname"><strong>{{patient.givenName}}&nbsp;{{patient.middleName}}&nbsp;{{patient.familyName}}</strong></p>
            <p>No de dossier:{{patient.primaryIdentifier.identifier}}&nbsp;{{}}</p>
            <p ng-if="patient.age.years>0">{{patient.age.years}}&nbsp;ans&nbsp;/{{patient.gender}}</p>
            <p ng-if="patient.age.years==0">{{patient.age.months}}&nbsp;mois&nbsp;/{{patient.gender}}</p>
            <p>Date d'admission:{{patient.registrationDate | date: 'dd/MM/yyyy'}}</p>

        </li>
        <li>
            <p class="localname"><strong>{{patient.givenName}}&nbsp;{{patient.middleName}}&nbsp;{{patient.familyName}}</strong></p>
            <p>No de dossier:{{patient.primaryIdentifier.identifier}}&nbsp;{{}}</p>
            <p ng-if="patient.age.years>0">{{patient.age.years}}&nbsp;ans&nbsp;/{{patient.gender}}</p>
            <p ng-if="patient.age.years==0">{{patient.age.months}}&nbsp;mois&nbsp;/{{patient.gender}}</p>
            <p>Date d'admission:{{patient.registrationDate | date: 'dd/MM/yyyy'}}</p>

        </li>
        <li>
            <p class="localname"><strong>{{patient.givenName}}&nbsp;{{patient.middleName}}&nbsp;{{patient.familyName}}</strong></p>
            <p>No de dossier:{{patient.primaryIdentifier.identifier}}&nbsp;{{}}</p>
            <p ng-if="patient.age.years>0">{{patient.age.years}}&nbsp;ans&nbsp;/{{patient.gender}}</p>
            <p ng-if="patient.age.years==0">{{patient.age.months}}&nbsp;mois&nbsp;/{{patient.gender}}</p>
            <p>Date d'admission:{{patient.registrationDate | date: 'dd/MM/yyyy'}}</p>

        </li>
        <li>
            <p class="localname"><strong>{{patient.givenName}}&nbsp;{{patient.middleName}}&nbsp;{{patient.familyName}}</strong></p>
            <p>No de dossier:{{patient.primaryIdentifier.identifier}}&nbsp;{{}}</p>
            <p ng-if="patient.age.years>0">{{patient.age.years}}&nbsp;ans&nbsp;/{{patient.gender}}</p>
            <p ng-if="patient.age.years==0">{{patient.age.months}}&nbsp;mois&nbsp;/{{patient.gender}}</p>
            <p>Date d'admission:{{patient.registrationDate | date: 'dd/MM/yyyy'}}</p>

        </li>
    </ul>
</div>
