* {
    margin: 0;
}
.row {
    float: clear;
}
.left {
    width: 100%;
    float: left;
}
.right {
    width: 50%;
    float: left;
}
.label {
    font-weight: bold;
}
.fontForSticker {
    font-size: 12px;
    margin-left: 10px;
    margin-top: 5px;
}
.dept {
    text-decoration: underline;
    font-weight: bold;
    font-size: 10px;
}