

.birth-certificate{
border: 1px red solid;
width: 100%;
padding: 5px;
font-size:16px;
}
.birth-certificate span {
display: block;
}
.birth-certificate .cer_content h1{
color:red;
}
.birth-certificate .cer_content{
line-height: 39px;
padding: 0px 50px 10px 50px;
}


.birth-certificate .cer_content u{
    line-height: 1.3;
    text-align: center;
    display: inline-block;
    margin: 0px;
}

.birth-certificate .cer_content u.gender{
 width: 80px;
}

.birth-certificate .cer_content u.deliverydate{
 width: 80px;
}

.birth-certificate .cer_content u.deliverytime{
 width: 80px;
}

.birth-certificate .cer_content u.deliveryweight{
 width: 80px;
}

.birth-certificate .cer_content u.deliveryoutcome{
 width: 200px;
}

.birth-certificate .cer_content u.deliverymethod{
 width: 350px;
}

.birth-certificate .cer_content u.fathername{
 width: 150px;
}



.birth-certificate .issued_content .col-2{
    width: 49%;
    float: left;
    margin:1.5% .5% 0;
}


.birth-certificate-top{
padding: 0px  10px;
width: 80%;
float: left;
}

.birth-certificate-bottom{
padding: 0px  50px
}

.birth-certificate .issued_content-1 .col-2{
    width: 50%;
    float: right;
    margin:10px;
}

.birth-certificate .issued_content-2 .col-2{
    width: 49%;
    float: right;
    margin:1.5% .5% 0;
    display block;
}

.birth-certificate .issued_content span, .birth-certificate .issued_content-2 span{
        padding: 0px 0px 10px 0px;
}
.birth-certificate .issued_content span.color-change{
color:red;
}
.birth-certificate .issued_content-2 span.color-change{
color:red;
}
