<section class="app-dashboard-integration">
    <h2 class="section-title" ng-click="goToListView()"><span style="border-bottom: 1px solid white;">{{ section.title | titleTranslate}}</span></h2>

    <ul style="font-size: 14px;color: #000000">
        <li ng-repeat="dateTime in section.visitDateTime" style="background-color:#ddd;padding-top:3px;padding-bottom:3px">
            <span class="tree-list-item row-click toggle-container ng-scope ng-isolate-scope active" id="visit{{section.visitDomId[$index]}}" toggle="obsGroup.isOpen">
                <i class="fa fa-caret-right"></i>
                <i class="fa fa-caret-down"></i>
                <span class="obs-date">
                    {{dateTime}}
                </span>
            </span>
        
            <ul class="print-observations hidden-print" id="conteudoXPTO">
                <show-observation
                    show-details-button="::config.showDetailsButton"
                    patient="::patient"
                    observation="::observation"
                    ng-repeat="observation in ::obsGroup.value"
                    level="2">
                </show-observation>
                <table class="table-header">
                    <tr>
                        <td>
                            {{section.label | titleTranslate}}
                        </td>
                        <td>
                            {{section.numberOfYesPerVisit[$index]}}
                        </td>
                    </tr>
                </table>
            </ul>
        </li>
    </ul>

</section>
